



<div class="layoutChildProducts">
    <div class="row">
        <div [ngClass]="newProductTableVisible ? 'col-8' : 'col-12'">
            <div class="card">
                <div class="card-header bg-custom-primary">
                    <div class="row">
                        <div class="col-6">
                            Product List
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-sm btn-success" (click)="newProductTableVisible=true">New</button>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 items">
                            <div class="card item" *ngFor="let product of products">
                                <img class="card-img-top" [src]="product.img" alt="Card image">
                                <div class="card-body">
                                  <h5 class="card-title">{{product.name}}</h5>
                                  <p class="card-text">{{product.category.name}}</p>
                                  <p class="card-text">{{product.price}}</p>
                                  <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="col-4" *ngIf="newProductTableVisible">
            <div class="card">
                <div class="card-header bg-custom-primary">
                    <div class="row">
                        <div class="col-6">
                            New Product 
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-sm btn-success" (click)="newProductTableVisible=false"> Close </button>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
                            <div class="col-6">
                                <input type="text" formControlName="type" required>
                            </div>
                            <div class="col-6">
                                <input type="text" formControlName="name" required>
                            </div>
                            <div class="col-6">
                                <input type="number" formControlName="price" required>
                            </div>
                            
                        </form> -->
                        <form class="form" (ngSubmit)="onSubmit()" [formGroup]="productForm">
                            <input type="name" placeholder="Name" formControlName="name" class="name">
                            <!-- <input type="text" placeholder="Type" formControlName="type"  class="typeinp"> -->

                            <select id="category" formControlName="category">
                                <option *ngFor="let cat of categories" value={{cat.id}}>
                                    {{cat.name}}
                                </option>
                            </select>

                            <input type="number" placeholder="Price" formControlName="price" class="priceinp">
                            <input type="file" placeholder="meow" formControlName="image" (change)="fileSelect($event)">
                            <button type="submit" class="saveprod"> Save product </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    



</div>