



// .layoutChildProducts{
    
// }


.bg-custom-primary{
    background-color: #d3e9ff;
}

.card .card-header{
    border: none;
}


.card-body input{
    margin: 5px;
}



.items{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    

    // justify-content: space-around;
    
}

.card-img-top{
    padding: 1vw;
    height: 15vh;
    width: 15vw;
}



.item{
    margin-right: 1.25vw;
    margin-left: 1.25vw;
    margin-bottom: 1.25vh;
    margin-top: 1.25vh;
}