body { padding-top:20px; }
.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }



.btn-warning{
    margin: 10px;
}


.col-md-6{
    display: flex;
}

.bg-custom{
    background-color: #d3e9ff;
}

