<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="card border-custom">
                <div class="card-header bg-custom text-custom">
                    <h3 class="card-title">
                        <i class="bi bi-bookmark"></i> Categories
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-10 col-md-10">
                            
                            <button type="button" *ngFor="let cat of categories" class="btn btn-warning" (click)="onCategorySelect(cat)"> {{cat.name}} </button>

                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="prods" *ngIf="catSelected">
                <app-products [catproducts]="catProds"></app-products>
            </div>
        </div>
    </div>


    <div class="col-4" *ngIf="newProductTableVisible">
        <div class="card">
            <div class="card-header bg-custom-primary">
                <div class="row">
                    <div class="col-6">
                        New Product 
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="newProductTableVisible=false"> Close </button>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <form class="form" (ngSubmit)="onSubmit()" [formGroup]="productForm">
                        <input type="name" placeholder="Name" formControlName="name" class="name">
                        <!-- <input type="text" placeholder="Type" formControlName="type"  class="typeinp"> -->

                        <input type="number" placeholder="Price" formControlName="price" class="priceinp">
                        <input type="file" placeholder="meow" formControlName="image" (change)="fileSelect($event)">
                        <button type="submit" class="saveprod"> Save product </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="products">
        <router-outlet></router-outlet>
    </div>
    
</div>
