<div class="parent">

         <!-- FORMULAIRE DE CONNEXION -->
    <div class="card">
        <h2>Login Form</h2>

            <!-- SE CONNECTER / S'INSCRIRE -->
        <div class="login_register">
            <button class="login" target="blank">Login</button>
            <button routerLink="/signup" routerLinkActive="active" class="register" target="blank">Signup</button>
        </div>

            <!-- FORMULAIRE -->
        <form class="form">
            <input type="email" placeholder="Email Address" [(ngModel)]="admin.email" name="email" class="email">
            <input type="password" placeholder="password" [(ngModel)]="admin.password" name="password" class="pass">
            <button type="button" (click)="onSubmit()" class="login_btn">Login</button>

        </form>

            <!-- MOT DE PASSE OUBLIE ? -->
        <a href="#" class="fp">Forgot password?</a>

        
        
    </div>
</div>